h2,h4,p{
  margin:0;
}

h2{
 color:#009999;
 margin-bottom:10px;
}

.Top-section>h4{
  color:#ffb84d;
 margin-bottom:6px;  
}

.Top-section p{
  color:#b3cccc;
}

.Top-section,.bottom-left,.bottom-right{
  padding:20px;
}

html{
 box-sizing:border-box;
  font-family:'karla';
  font-size:16px;
}

*,*:before,*:after{
  box-sizing:inherit;
}

.main{
  width:600px;
  height:350px;
  box-shadow: 1px 2px 27px -10px rgba(0,0,0,1);
  border-radius:5px;
  overflow:hidden;
}

.Top-section{
  width:100%;
  height:40%;
}  

.bottom-section{
  width:100%;
  height:60%;
  color:white;
  display:flex;
  flex-direction:row;
} 

.bottom-left{
  display:inline-block;
  flex-basis:50%;
  height:100%;
  background-color:#009999;
  vertical-align:top;
}

.bottom-right{
  display:inline-block;
  flex-basis:50%;
  height:100%;
  background-color:#07b0b0;
  vertical-align:top;
}
button{
  color:white;
  background-color:#c6ff1a;
/*   border-color:#c6ff1a; */
  box-shadow: 1px 2px 27px -10px rgba(0,0,0,1);
  border:none;
  height:35px;
  width:250px;
  border-radius:5px;
  margin-top:25px;
}

.price-continer{
  display:flex;
  margin-top:13px;
  margin-bottom:8px;
  align-items:center;
}

.price{
  font-weight:700;
  font-size:1.5rem;
}

.price-freq,.price{
  display:inline-block;
}

.price-freq{
  
  color:#00ffcc;
  font-size:0.7rem;
}

.bottom-left p{
  font-size:0.8rem;
}

ul{
  list-style-type:none;
  padding:0;
  margin:1;
}

li{
  padding-bottom:0.1rem;
  font-size:0.8rem;
  opacity:0.7;
}

button:hover{
 cursor:pointer;
 background-color:#a5d90b;
 transform:scale(1.1);
}

/* mobile responce */
@media (max-width:620px) {
  .main,.bottom-left,.bottom-right{
    width:100%;
    height:auto;
  }
  .bottom-section{
    flex-direction: column;
  }
}


@media (max-width:380px) {
	  button{
    height:auto;
    width:100%;
  }
}
